.aibpst{width: 430px;height: auto;background-color:#0A0A0A;margin: 0 auto;padding:20px;}
.aibtxt {text-align: justify;padding-left:35px;padding-right:35px;padding-bottom:35px;padding-top:15px;color: grey;font-family: Fira sans;font-size: 9.5pt;}
.aibln {background-color:#0A0A0A;height:1px;width:400px;position:absolute;margin-top:30px;margin-left:10px;opacity:0.3;}
.aibtxt span{color: #ab7800;font-weight:900;}
.aibtt{color: transparent;letter-spacing: 1.2px;font-family: 'Poppins';font-weight: 900;text-align: center;text-transform: uppercase;font-size: 25px;letter-spacing:-0.5px;margin: 0 auto;margin-top:-20px;-webkit-text-stroke: 1px #F7CA00;line-height:2;
}
.aibtt b{color: #ab7800;letter-spacing:-2px;-webkit-text-stroke: 0px}
.aibtt span{color:#ab7800; font-size:15px;background-color:#0A0A0A;margin-top:20px;width:25px;z-index:1;margin-left:-9px;position:absolute;}
.aibdd {padding-top: 2.5px;padding-bottom: 2.5px;padding-right: 5px;width:200px;color: grey;letter-spacing: 2px;margin-left:200px;font-size: 8.5px;font-family: 'Poppins';text-transform: lowercase;text-align: right;margin-top:15px;}
.aibdd span{color:#000000; font-size:5px;}
.aibln2 {background-color:#ab7800;height:1px;width:400px;margin-left:10px;opacity:0.3;}
